.footer-box {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-container-top {
  display: flex;
  align-items: baseline;
}

.footer-container-info {
  width: 264px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-studio-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--cloud);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.footer-container-socials {
  width: 208px;
  margin-left: 120px;
}

.footer-socials-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.footer-socials {
  gap: var(--gap-sm);
}
