.footer-box {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-studio-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--cloud);
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
}

.footer-socials {
  gap: var(--gap-sm);
}
